/* Global settings */

:root{
    --mainBgColor:rgba(20,20,31,11);
    --secondaryBgColor:rgba(27,27,39,1);
    --borderColor1:rgba(79,86,105,1);
    --borderColor2:rgba(79,86,105,1);
    --textColorMain:#fff;
    --textColorSecondary:rgb(226, 227, 232);
    --themeColorMain:rgba(219,26,90,1);
    --themeColorSecondary:#386fd2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
      'Open Sans', 'Helvetica Neue', sans-serif;
  }

a{
  color: #40e0d0;
}

body{
    background-color: var(--mainBgColor);
    color: var(--textColorMain);
}

.container{
  max-width: 600px;
  margin:20px auto;
}

/* Login & Register Pages */
.auth--container{
  height: 100vh;
  display: flex;

  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.form--wrapper{
  width: 450px;
  padding: 2em;
}

.field--wrapper{
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 0.5em 0;
}

/* Form Input Styling */
input[type="text"], input[type="password"], input[type="email"], textarea{
  background: var(--mainBgColor);
  border: none;
  border-bottom: 1px solid var(--borderColor1);
  padding: 1rem;
  border-radius: 3px;
  width: 100%;
  color: var(--color-light);
  outline: none;
  font-size: 18px;
  text-shadow: none !important;
}

.btn{
  padding: 0.5em 1em;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.3s;
}

.btn--lg{
  padding: 1em 2em;
}

.btn--main{
  background-color: rgba(219,26,90,1);
  color: #fff;
}

.btn--secondary{
  background-color: #8db3dd;
}

.btn:hover{
  opacity: 0.7;
}

/* Header Styling */

#header--wrapper{
  color: #ffffff;
  background-color: var(--mainBgColor);
  padding: 1em;
  display: flex;
  justify-content: space-between;
  border-radius: 11px 11px 0 0;
  border:1px solid var(--borderColor1);
  border-bottom: none;
}

.header--link{
  color: #c7d8eb;
  cursor: pointer;
  transition: 0.3s;
}

.header--link:hover{
  color: #8db3dd;
}

/* Room Styling */

.room--container{
  padding: 2em;
  width: 460px;
  border-radius: 0 0 11px 11px;
  border:1px solid var(--borderColor1);
  border-top: none;
}

#message--form{
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.send--btn--wrapper{
  display: flex;
  justify-content: flex-end;
}

.message--wrapper{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 0.5em;
  margin:1em;
}

.message--header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message--body{
  padding: 0.5em 0;
  color: var(--textColorSecondary);
  background-color: var(--themeColorMain);
  padding: 1em;
  border-radius: 20px;
  width:fit-content;
  max-width: 100%;
  word-wrap: break-word; /* added */
}

.message--body--owner{
  border: 1px solid rgba(219,26,90,1);
  background-color: var(--secondaryBgColor);
}

.message-timestamp{
  margin-left: 1em;
  color: rgb(164, 161, 161);
}

.delete--btn{
  color:#8db3dd;
  cursor: pointer;
  transition: 0.3s;
  width: 16px;
}

.delete--btn:hover{
  color:red;
}

/* End AppRight CSS */

/* ****************************************************************** */

/* Begin Socket io CSS */

.App {
  width: 100vw;
  height: 100vh;
  color: #000000;
  font-family: "Open Sans", sans-serif;
  display: grid;
  place-items: center;
}
body {
  margin: 0%;
  padding: 0%;
}

.joinChatContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  text-align: center;
  padding: 24px;
}

.joinChatContainer h4 {
  color: #ffffff;
  font-size: 17px;
  font-weight: 500;  
}

.joinChatContainer h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.joinChatContainer input {
  width: 210px;
  height: 40px;
  margin: 7px;
  border: 2px solid #43a047;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  color: white;
}

.joinChatContainer button {
  width: 225px;
  height: 50px;
  margin: 7px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  background: #43a047;
  color: #fff;
  cursor: pointer;
}

.joinChatContainer button:hover {
  background: #2e7d32;
}

.chat-window {
  flex: 1;
  width: 300px;
  height: 420px;
}

.chat-window p {
  margin: 0;
}
.chat-window .chat-header {
  height: 45px;
  border-radius: 6px;
  background: #263238;
  position: relative;
  cursor: pointer;
}
.chat-window .chat-header p {
  display: block;
  padding: 0 1em 0 2em;
  color: #fff;
  font-weight: 700;
  line-height: 45px;
}

.chat-window .chat-body {
  height: calc(450px - (45px + 70px));
  border: 1px solid #263238;
  background: #fff;

  position: relative;
}
.chat-window .chat-body .message-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat-window .chat-body .message-container::-webkit-scrollbar {
  display: none;
}

.chat-window .chat-body .message {
  height: auto;
  padding: 10px;
  display: flex;
}

.chat-window .chat-body .message .message-content {
  width: auto;
  height: auto;
  min-height: 40px;
  width: 180px;
  max-width: 180px;
  background-color: #43a047;
  border-radius: 5px;
  color: white;
  display: flow;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  padding-top: 8px;
  padding-bottom: 11px;  
  padding-right: 5px;
  padding-left: 5px;
  overflow-wrap: break-word;
  word-break: break-word;
}

#self {
  justify-content: flex-start;
}

#self .message-content {
  justify-content: flex-start;
  display: inline-block;
  width: 180px;
}

#self .message-meta {
  justify-content: flex-start;
  margin-left: 5px;
}

#other {
  justify-content: flex-end;
}

#other .message-content {
  justify-content: flex-end;
  background-color: cornflowerblue;
}

#other .message-meta {
  justify-content: flex-end;
  margin-right: 5px;
}

.message-meta #author {
  margin-left: 10px;
  font-weight: bold;
}

.chat-window .chat-body .message .message-meta {
  display: flex;
  font-size: 12px;
}

.chat-window .chat-footer {
  height: 40px;
  border: 1px solid #263238;
  border-top: none;
  display: flex;
}

.chat-window .chat-footer input {
  height: 100%;
  flex: 85%;
  border: 0;
  padding: 0 0.7em;
  font-size: 1em;
  border-right: 1px dotted #607d8b;
  outline: none;
  font-family: "Open Sans", sans-serif;
  color: white;
}

.chat-window .chat-footer button {
  border: 0;
  display: grid;
  place-items: center;
  cursor: pointer;
  flex: 15%;
  height: 100%;
  background: transparent;
  outline: none;
  font-size: 25px;
  color: lightgray;
}

.chat-window .chat-footer button:hover {
  color: #43a047;
}

.hide {
  display: none !important;
}

.chat--room {
  display: flex;
  border: 1px solid red;
  border-radius: 3px;  
}

.double--check--mark {
  position: relative;
  left: 0px;
  top: 13px;
  width: 20px;  
}

.maccabi--chat--logo {
  width: 182px;  
}
